form {
margin-top: 40px;
}
input,textarea, button {
display: block;
padding: 8px;
margin-bottom: 8px;
width: 100%;
resize: none;
}
button {
    background-color: rgb(53, 205, 18);
    border: none;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: rgb(218, 133, 15);
}
.sucess-mensagem {
    background-color: rgb(53, 205, 18);
    padding: 16px;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    
}